$primaryColor: #0404f1;
$accentColor: #e4c580;
$secondColor: white;
$darkColor: black;
$textColor: (
  "primary": white,
  "secondary": black,
);
$fontWeight: (
  "regular": 400,
  "medium": 500,
  "bold": 900,
);
$fontSize: (
  "mainHeader": 5rem,
  "subHead": 2rem,
  "parag": 1.2rem,
);

@import "./header";

body {
  height: 100%;
  background-color: $secondColor;
  //   padding: 0 5em;
  margin: 0;
  box-sizing: border-box;
  //Nesting
  & .intro {
    font-weight: map-get($map: $fontWeight, $key: bold);
    color: map-get($map: $textColor, $key: primary);
  }
  & h3 {
    font-size: map-get($fontSize, subHead);
    color: $secondColor;
  }
}

h1 {
  color: $secondColor;

  //Mapping
  font-size: map-get($map: $fontSize, $key: mainHeader);
}

.more {
  color: $accentColor;
}

section {
  width: 100%;
}

.heroSection {
  height: 45rem;
  background-color: $primaryColor;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  // justify-content: space-between;
  // align-items: center;

  overflow: hidden;
  & .introImage {
    //height: 100%;
  }

  & input {
    height: 50px;
    width: fit-content;
    padding: 10px;
    border-radius: 40px;
    border: none;
    width: 50%;
  }
}

.flex-Half {
  width: 50%;
  & p {
    color: $secondColor;
    font-size: map-get($fontSize, parag);
  }
}

.heroImageCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  & img {
    z-index: 1;
  }
}

.blueHue {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 5, 251, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
}

.heroCurvedSvg {
  display: block;
  width: 100%;
}

.subscribeBtn {
  width: 100px;
  height: 50px;
  color: white;
  background-color: rgb(0, 0, 0);
  margin-left: 20px;
  width: 10vw;
}

.dynamicSpan {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

//Testimonial section Styling begins

.careersSection {
  height: 80rem;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: $secondColor;
  //margin-top: -300px;
  margin-bottom: 100px;

  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  & div {
    background-color: $primaryColor;
    width: 450px;
    height: 500px;
    border-radius: 25px;
  }
}

//Testimonial section Styling ends

footer {
  height: 5rem;
  background-color: $primaryColor;
  margin-top: 10rem;
  //position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondColor;
}
